body {
	background:#000;
	padding:0px;
}

#wrapper {
	background:#fff;
	padding:8px;
	/*width:900px;*/
	margin:0px auto;
}

.page-header {
	background:url(img/wildcat-small.png) no-repeat 100% 30px;
	background-size:40px 40px;
	margin-bottom:10px;
	margin-top:0px;
	overflow:auto;
}

.page-header small {
	font-style:italic;
	margin-left:20px;
}

#user {
	text-align:right;
}

#user span {
	font-size:12px;
	color:#bbb;
	margin-right:4px;
}

.alert p {
	margin:0px;
}

.dashboard.row div.checkin {
	height:400px;
}

#checkin-result .student-name {
	font-weight:bold;
	line-height:30px;
	color:#222;
}

ul.students button {
	margin-left:8px;
}

ul.students button.checkout {
	visibility:hidden;
}

ul.students li a:hover button.checkout {
	visibility:visible;
}

.student {
	padding-top:1px;
}

.student form input[name=course_name] {
	width:280px;
}

.student h4 a.btn {
	float:right;
	margin-left:2px;
}

#checkin-wrapper {
	margin-top:20px;
	padding:20px;
}

#checkin-wrapper h3 {
	/*float:right;*/
	font-style:italic;
	margin-top:0px;
	color:#89E0A8;
}

#form-validate-id {
	margin-bottom:0px;
}

#form-validate-id input[type=text] {
	font-size:22px;
	line-height:30px;
	padding:8px;
	height:46px;
}

#form-validate-id button {
	height:46px;
}

#form-validate-id .input-append input[type=text], form.form-inline .input-append input[type=text]{
	width:280px;
}

#checkin-result {
	margin-top:20px;
}

form.form-inline label {
	font-weight:bold;
	font-size:20px;
	display:block;
}

form.form-inline label small {
	font-weight:normal;
	float:right;
	font-style:italic;
}

form.form-inline .input-append {
	display:block;
}

.modal-body form label {
	font-weight:bold;
}

.modal-body .course-name {
	margin-right:36px;
	line-height:30px;
	font-size:18px;
}

.modal-body .pull-right span {
	display:inline-block;
	font-size:20px;
	margin-top:4px;
}

.modal h3 span {
	float:right;
	font-style:italic;
	margin-right:24px;
	color:#ddd;
}

.typeahead {
	z-index:1051;
}

textarea {
	width:516px;
	margin-top:20px;
}

footer {
	text-align:center;
	color:#999;
	border-top:1px solid #EEE;
	padding-top:10px;
	margin-top:10px;
}

/* RESPONSIVE */
@media(max-width:680px) {
	.page-header h1 small {
		display:none;
	}
}